<header>
  <h1>Pune Metro Services</h1>
  <nav>
      <ul>
          <li><a routerLink="">Login</a></li>
          <li><a routerLink="bookTicket">Book Ticket</a></li>
          <li><a routerLink="viewTicket">View Ticket</a></li>
          <li><a routerLink="timeTable">Timetable</a></li>
          <li><a routerLink="stations">Stations</a></li>
          <li><a routerLink="map">Map</a></li>
          <li><a routerLink="contact">Contact us</a></li>
      </ul>
  </nav>
</header>

<!-- Continuous Marquee Section -->
<marquee behavior="scroll" direction="left" scrollamount="3">
  WELCOME TO PUNE MAHA METRO &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; EASY TICKET BOOKING &nbsp;&nbsp;&nbsp; |
  &nbsp;&nbsp;&nbsp;
  REAL-TIME TIMETABLE &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; NAVIGATE WITH EASE &nbsp;&nbsp;&nbsp; |
  &nbsp;&nbsp;&nbsp;
  WELCOME TO PUNE MAHA METRO &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; EASY TICKET BOOKING &nbsp;&nbsp;&nbsp; |
  &nbsp;&nbsp;&nbsp;
  REAL-TIME TIMETABLE &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; NAVIGATE WITH EASE
</marquee>

<router-outlet></router-outlet>

<!-- Footer -->
<footer>
  <p>&copy; 2024 Pune Maha Metro. All rights reserved.</p>
</footer>